.feature {
  ul {

    list-style-type: none;
    padding: 0 1em;

    li {
      margin-bottom: 1em;
      display: flex;
      flex-direction: row;

      span {
        padding-right:1em;
      }

      i {
        flex:1 0 70px;
      }

    }
  }
}
@media screen and (min-width: 30em){
  .feature ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      flex: 0 0 20em;
      display: flex;
      justify-content: flex-start;
    }
  }
}
@media screen and (min-width: 40em){
  .feature ul {
    li {
      flex: 0 0 15em;
    }
  }
}