@media screen and (min-width: 30em) {
  .menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:.5em;
  }

  .menu li {
    flex: 1 0 auto;
    position: relative;

    a {
      padding: .6em 1em;
      font-size: .8em;
    }
  }
}